<div class="product-shares">
  <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="OrganicZoo" data-count="none" data-hashtags="organiczoo">Tweet</a>
  <div class="fb-like" data-href="<%= url_for(@product) %>" data-layout="button" data-action="like" data-show-faces="true" data-share="true" style="top:-5px"></div>
</div>