// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:    #888888;
$link-hover-color: #050505;

$font-family-sans-serif: Helvetica, Arial, sans-serif;

$font-size-base: 12px;

// Large screen / wide desktop same as normal desktop
$grid-gutter-width:         30px;
$container-large-desktop:   (940px + $grid-gutter-width);

$breadcrumb-separator: ">";
$breadcrumb-bg: transparent;

// $border-radius-base: 0;