#nav-bar {
  .btn-sm {
    border-radius: 0;
    border: none;
    padding: 3px 10px;
  }
}

@media (min-width: $screen-md-min) {

  #top-nav-bar {
    padding-top: 10px;
  }

  .search-form {
    float: right;
  }

}