
.taxonomy-root {
  display: none;
}

// -- Spree Layout Custom Rules -------------------------

.alert-notice { @extend .alert-success; }
.alert-error, .alert-registration_error { @extend .alert-danger; }
.alert-alert { @extend .alert-info; }

.product-body {
  height: 230px;
  max-height: 230px;
  overflow: hidden;
}

.product-footer {
  height: 35px;
  max-height: 35px;
  overflow: hidden;
  margin-bottom: 15px;
  font-size: 11px;
  line-height: 15px;
  font-weight: normal;
  text-overflow: ellipsis;
}

.progress-steps {
  margin-top: $line-height-computed;
}

h1 {
  margin-bottom: 30px;
}

h2.small-product-name {
  overflow: hidden;
  margin: 5px 0 0 0;
  font-size: 11px;
  line-height: 15px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Center cart line items
table {
  &.table > tbody > tr {
    &.line-item td, &.stock-item td {
      vertical-align: middle;
    }
  }

  &#line-items {
    > tbody, > tfoot {
      > tr > td {
        vertical-align: middle;

        &.order-qty {
          text-align: center;
        }
      }
    }
  }
}

// Footer links
#footer-left a {
  color: lighten($brand-primary, 20);

  &:hover {
    color: lighten($brand-primary, 10);
  }
}

// Updated credit-card image
#credit-card-image {
  margin-top: -10px;
}

.existing-credit-card-list td {
  padding: 5px;
}
